*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


@font-face {
    font-family:semibold ;
    src: url(./assets/Poppins-SemiBold.ttf);
}

@font-face {
    font-family:bold ;
    src: url(./assets/Poppins-Bold.ttf);
}
@font-face {
    font-family:regular ;
    src: url(./assets/Poppins-Regular.ttf);
}

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 7s both;
}

#wrapper_load{
    width:500px;
    height: 100px;
    /* background-color: lightblue; */
    overflow: hidden;
}

#wrapper_load .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}

#wrapper_load .elem:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

#wrapper_load .elem:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

#wrapperload .elem:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 5s both;
}
/* animation css */
@keyframes anim {
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}

/* css animation for scrolling */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform:translateY(0px);
    opacity: 1;
}

.image_reveal{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s ease;
}

.image_reveal.another_active{
    transform: translateX(0px);
    opacity: 1;
}
/* css for header section */

.header{
    height: 80px;
    width:100%;
    position: fixed;
    z-index: 100;
    
}
.mobile{
    display: none;
}
.navbar{
    height:80px;
    width: 100%;
    display: flex;
    z-index: 100px;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); */

}
.logo_section{
    width:30%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-weight: 300;
    font-size: 30px;
    align-items: center;
    font-family: semibold;
    cursor: pointer;
    transition: .3s;
}

.logo:hover{
    color:#0CBC8B;
}

.nav_container{
    width:50%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_links{
    list-style: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.nav_link{
    display: inline-block;
    font-family:semibold;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav_link > a:hover{
    color: #0CBC8B;
}

button > a{
    color: #f4f4f4;
}

button > a:hover{
    color: #0CBC8B;
}

/* css for banner */

.banner{
    height:100vh    ;
    display: flex;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    color:black;
    overflow: hidden;
    z-index: 10;
    position: relative;
}


.wrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-left: 9.6%;
    width: 100%;
}


.cols0{
    width: 40%;
    z-index:10;
}
.cols1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0px;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color:#3d535f;
}

.topline::after{
    position:absolute;
    height: 4px;
    width: 45px;
    content: '';
    bottom: 10px;
    background: #0CBC8B;
}
h1{
    display: block;
    color:#3d535f;
    font-size: 2em;
    font-weight: 900;
}

.multiText{
    color:#5F7EEC;
    
}

p{
    display: block;
    font-size:18px;
    color: #3d535f;
}

.btns{
    width:100%;
    position: relative;
    /* left:150px */
    
}
button{
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: 400;
    color:#fff;
    cursor: pointer;
    background:#5F7EEC;
    padding: 8px 14px;
    margin: 0px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

button:hover{
    background-color: white;
    color:#0CBC8B;
}

button:hover a{
    color:#0CBC8B
}

.imgbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 600px;
}
.imgbox > img {
    margin-top: 60px;
    width: 80%;
    height: 100%;
    position: relative;
    width: calc(130% - 80px);
    top:-15px;
    right: 20px;
    z-index: 1;
}

.triangle{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25%;
    top:50%;
    animation: animateTriangle 20s infinite linear;
}

.triangleGreen{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5%;
    top:40%;
    animation: animateTriangleGreen  10s infinite linear;
}
.circle{
    width: 40px;
    position: absolute;
    left: 13%;
    top:40%;
    animation: circleGreen  20s infinite linear;   
}

.squareBlue{
    position: absolute;
    left: 53%;
    top:10%;
    animation: circleGreen  20s infinite linear;   
}
.squareGreen{
    position: absolute;
    left: 43%;
    top:80%;
    animation: squareGreen  20s infinite linear;   
}
.squareGreen2{
    position: absolute;
    right: 3%;
    top:20%;
    animation: squareGreen2  20s infinite linear;   
}
.blueCircle{
    position: absolute;
    left:50%;
    top:30%;
    animation: blueCircle  60s infinite linear;   
}
@keyframes blueCircle {
    50%{
        transform: rotateZ(359deg);
    }
}
@keyframes squareGreen {
    50%{
        transform: rotate(0deg);
        left: 33%;
        top:30%;
        transform: rotate(359deg);
    }
}

@keyframes squareGreen2 {
    50%{
        transform: rotate(0deg);
        right: 53%;
        top:60%;
        transform: rotate(359deg);
    }
   
}


@keyframes animateTriangle {
      50%{
        transform: rotate(0deg);
        left:50px;
        top:30%;
        transform: rotate(359deg);
      }
}

@keyframes animateTriangleGreen {
    50%{
    transform: rotate(0deg);
    right: 5%;
    top:50%;
    transform: rotate(359deg);
    }
    
}

@keyframes circleGreen {
    50%{
        transform: rotateY(360deg);
    }
    
}

/* css for skill section*/

.skills_section{
    width:100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    z-index: 50;
}
.skill_main{
    width:100%;
    height: auto;
    margin-top: 10px;
    background-color: white;
}

.skills_heading{
    text-align: center;
    line-height: 1;
    padding-bottom: 10px;
    display: block;
    font-size: 1.2em;
    color: #3d535f;
    font-family: regular;
    font-size: 15px;
    z-index: 50;
}
.section_heading{
    z-index: 50;
}

.skill_container{
    display: flex;
    column-gap: 30px;
    padding-top: 60px;
    height: auto;
    position: relative;
    z-index: 50;
}
.skill_image{
    padding-top: 0px;
    width: 45%;
    height: 400px;
    top:0;
    z-index:50;
}
.skill_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top:45px;
    /* right: 40px; */
    z-index:50;
    animation: animaterUser 3s linear infinite;
}

.skill_description{
    width: 50%;
    height: auto;
    margin-top: 30px;
    background: #ebf2ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: regular;
    z-index: inherit;
}

.skill_desc_header{
    text-align: center;
    text-transform: capitalize;
}
.skill_desc_moto{
    text-align: center;
    font-size: 15px;
    line-height: 1.3;
}

.skill_desc_webtools{
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.icon{
    margin-top: 3px;
    font-size: 14px;
    color:#5F7EEC;
}

.skill_set{
    display:flex;
    column-gap: 10px;
    z-index: 50;
}
.skill_desc_webtool_name{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px ;
    column-gap: 10px;
    padding-left: 30px;
}

.skill_desc_webtool_name:hover {
    color: white;
    background-color: #5F7EEC;
    cursor: pointer;
    transform: translateY(-10px);
    
}
.skill_desc_webtool_name:hover .icon{
    color: white;
}
.Skillcircle{
    width: 40px;
    width: 40px;
    position: absolute;
    top:20%;
    left: 3%;
    animation: circleGreen  20s infinite linear; 
}
.bluePlus{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10%;
    left: 30%;
    opacity: .5 ;
    animation: bluePlus 5s linear infinite;
}
.mobile_blue_plus,.mobileSkillcircle{
    display: none;
}
.skillCloud{
    position:absolute;
    right: 40%;
    top:8%;
    width: 300px;
    animation: cloud 3s linear infinite;

}
@keyframes bluePlus {
    0%{
        transform: rotateZ(359deg);
    }
}

@keyframes cloud {
    50%{
        top:6%;
        right: 38%;
    }
}
/* css for about section */

.about_section{
    width:100%;
    height:auto;
    box-sizing: border-box;
    padding: 30px;
}
.about_main{
    width:90%;
    height:auto;
    margin-left: 50px;
    margin-top: 30px;
    background-color: white;  
    border-radius: 10px;  
    /* box-shadow: 0 8px 60px 0 rgba(32, 35, 38, 0.203), 0 12px 90px 0 rgba(41, 41, 43, 0.231); */

}

.section_heading{
    padding: 10px 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: medium;
    font-family: semibold;
    line-height:.5;
}

.section_heading::after{
    content: '';
    display: block;
    margin: 0.5em auto 0em;
    opacity: 0.6;
    height: 4px;
    width: 65px;
    bottom: 10px;
    background: #0CBC8B;
}

.about_container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.about_information{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 13px;
    font-weight: 600;
    font-family:semibold;
    background: #ebf2ff;
    border-radius: 10px;
    /* box-shadow: 0 6px 15px rgba(36, 37, 38, 0.219); */

    
}

.about_intro{
    font-family: regular;
    font-weight: normal;
    font-size: 15px;
}

.photo_container{
    width: 50%;
    height: auto;
    
}
.image_container{
    width:600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
}
.image_container > img{
    width: 100%;
    height: 400px;
}

/* css for contact section */
.contact_section{
    width:100%;
    height:auto;
    box-sizing: border-box;
    padding: 30px;
}

.contact_container{
    width:93%;
    height: auto;
    margin-left: 50px;
    /* background: rgba(0, 0, 0, 0.162); */
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
}

.form_container{
    width: 55%;
    height: 100%;
    padding: 20px;
    background:#ebf2ff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    /* box-shadow: 0 6px 15px rgba(36, 37, 38, 0.219); */

}
.form_heading{
    text-align:left;
    text-transform: capitalize;
    align-self: flex-start;
    font-family: semibold;
}
.form_group{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

.input_field , .input_textarea{
    outline:none;
    padding: 10px;
    width: 100%;
    border:1px solid transparent;
    background:#fff;
    border-radius: 8px;
    font-family: regular;
}
.errorMessage{
    outline: #0CBC8B;
    border:1.3px solid #ff7777;
    transition: .3s;
    /* background:#ff00000f; */

}
input::placeholder{
    color:#3d535f;
    font-family: regular;
    font-size: 14px;
}
.input_textarea{
    width: 100%;
    height: 150px;
    text-indent:1px;
    text-transform: capitalize;
    font-family: regular;
}
textarea::placeholder{
    color:#3d535f;
    font-family: regular;
    font-size: 14px;

}
.button{
    width: 100%;
    border:none;
    padding:10px 20px;
    text-align: center;
    background: #0CBC8B;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-family: bold;
    transition: .5s;
    border-radius: 8px;
}
.button:hover{
    color: #0CBC8B;
    background-color: #fff;
}

/* css for footer */
.footer{
    height: auto;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
}
.footer_name{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: semibold;
}
.footer_value{
    text-align: center;
    font-family: regular;
}
.footer_name::after{
    content: '';
    display: block;
    width: 3em;
    height: 4px;
    color: white;
    margin: .2em auto 0em;
    background: #0cbc8ac0;
    opacity: 1;
    margin-bottom: 5px;
}
.footer_email{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer_contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialMedia_icons{
    display: flex;
    list-style-type: none;
    column-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.icons{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 50px;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.219);
    transition: .8s;
}


.icons:hover{
    background:#0CBC8B;
    cursor: pointer;
    transform: translateY(-10px);
    transition: .8s;
}
.icons:hover a{
    color:white
}

.contact_whatsapp{
    width: auto;
    height: 40px;
    z-index:100;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background:#0CBC8B;
    box-shadow: 2px 2px 3px #999;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 5px;
    cursor: pointer;
    transition: .3s;

    
}
.contact_whatsapp:hover{
    background: white;
    border: 2px solid #0CBC8B;
}
.whatsapp_icon{
    font-size: 20px;
    color: white;
    transition: .6s;

}
.whatsapp_text{
    font-size: 15px;
    font-family: regular;
    color: white;
    transition: .6s;

}

.contact_whatsapp:hover .whatsapp_text{
    color:#0CBC8B;
}

.contact_whatsapp:hover .whatsapp_icon{
    color:#0CBC8B;
    
}

@media (min-width:200px) and (max-width:780px)
{
    .elem{
        width: 100%;
    }
    .header{
        height: 40px;
    }
    .mobile{
        display: block;
        margin-top: 3px;
    }
    .navbar{
        width: 100%;
        flex-wrap: wrap;
        height: 40px;
        padding:0px;
    }
    .logo_section{
        width: 100%;
        height: 40px;
        font-size: 20px;
        padding: 0px 20px;
        justify-content: space-between;
      
    }
    .blueCircle{
        position: absolute;
        left:30px;
        top:50%;
        /* width: 50px; */
    }
    .logo{
        font-size:25px;
        margin: 0px;
    }
    .nav_container{
        width: 100%;
    }
    .nav_links{
        flex-wrap: wrap;
        height: 0px;
        overflow: hidden;
        transition: .4s;
        padding: 0px 20px;
        width: 100%;
        background: white;
    }
    .nav_link{
        width: 100%;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
        text-align: left;
        padding: 0px;
        
    }
    .circle ,.squareGreen{
        /* top:18%; */
        display: none;
    }

    .banner{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: auto;
    }
   .wrapper{
        flex-direction: column;
        padding-left: 5.6%;
   }
   .cols{
    margin-top: 60px;
    width: 100%;
    padding-right: 10%;
   }
   .cols1{
    width: 100%;
   }
   .topline{
    font-size: 25px;
   }
   .cols > p{
    font-size: 15px;
   }
   h1{
    font-size: 20px;
   }

   .btns > button{
  
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 10px;
    margin: 0px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
  
    
   }

   .cols1{
    overflow: hidden;
   }

   .imgbox{       
    width: 100%;
   }

   .imgbox > img{
        height: 80%;  
        width: 100%;
        right:10px;

   }

   .skills_heading{
    font-size: 15px;
   }
   .skill_container{
     flex-direction: column;
    padding-top: 0px;
    height: auto;

   }

   .skill_image{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 0px;
        height: auto;
      
   }
   .skill_image > img{
        height: 290px;
        width: 100%;
        right: 0px;
        top:0px
   }

   .skill_description{
        width: 100%;
        border-radius:10px;
        margin-top: 0px;
        padding: 10px;
   }
   .skill_desc_webtools{
        width: 100%;
   }
   .skill_set{
    flex-direction: column;
    row-gap: 5px;
   }
   .html_css{
    display: flex;
   }
   .skill_desc_webtool_name{
    padding-left: 20px;
    padding-right: 10px;
   }
   .skill_desc_tool{
    font-size:14px;
    line-height: 1.3;
   }
   .skill_desc_moto{
    font-size: 13px;
   }
   .bluePlus, .Skillcircle{
    display: none;
   }
   .mobile_blue_plus{
    left: 80%!important;
    opacity: .7 ;
    display: block;

   }
   .skillCloud{
    width: 200px;
    top:4.5%;
    right: 25%;
   }
   .mobileSkillcircle{
    display: block;
    left: 10%;
    top:15%;

   }
   @keyframes cloud {
    50%{
        top:6%;
        right: 26%;
    }
}
    .about_section{
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .about_container{
        flex-direction: column;
    }
    .photo_container{
        padding: 0px;
        width: 100%;
    }

    .image_container{
        display: flex;
       align-items:center;
       justify-content: center;
        width: 100%;
        margin-top: 0px;
    }

    .image_container > img{
        height: 280px;
        width: 100%;
        /* object-fit: cover; */
        right: 0px;
        top: -29px;
        
    }
    .about_information{
        margin-top: 30px;
        padding: 17px;
        width: 100%;
        border-radius: 10px;
    }

    .about_information > p {
        font-size: 14px;
    }

    .about_main{
        height: auto;
        width: 98%;
        margin-left: 4px;
        margin-top: 8px;
        height: auto;
    }
    .bluePlus{
        top:17%;
        left: 10%;
    }

    .contact_section{
        width: 100%;
        padding-top: 0px;
    }
    .contact_container{
        width: 100%;
        flex-direction: column;
        margin-left: 0px;
    }
    .form_container{
        width: 100%;
        padding: 10px;
    }
    .input_field{
        padding: 5px;
    }
    .input_textarea{
        padding-left: 3px;
    }
    .button:hover{
        color:white;
        background: #0CBC8B;
    }
    .button:active{
        transform: scale(1.1);
        color: #0CBC8B;
        background: white;
    }
    .profile_name{
        text-align: center;
    }
    .footer_name{
        margin: 0px;
    }
    .socialMedia_icons
    {
        row-gap: 10px;
    }
    .contact_whatsapp{
        padding: 3px 10px;
        height: auto;
        bottom: 60px;
    }
    .whatsapp_text ,.whtsapp_icon{
       font-size: 14px;
    }
    .contact_whatsapp:active{
        transform: scale(1.5);
    }
}
